.info__button {
  display: flex;
  cursor: pointer;
  background-color: #000;
  border: 0;
  background-image: url(../../../images/Edit\ Button.svg);
  width: 24px;
  height: 24px;
  margin: 15px 0 0 18px;
}

.info__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .info__button {
    position: absolute;
    margin: 0;
    top: 8px;
    right: -34px;
  }
}